# Kaukasos/FAI/utils/
Kaukasos/FAI/courses
Kaukasos/FAI/neural-networks-and-deep-learning
Kaukasos/FAI/sgd-intro.ipynb
Kaukasos/FAI/lesson1/data
Kaukasos/FAI/lesson2/data
Kaukasos/FAI/lesson2/L2HW_data
